@import 'comum';
@media screen and (min-width: 200px){
    $tm: 3vw;
    @include topo($tm);
    @include principal($tm);
    @include base($tm);
}
@media screen and (min-width: 576px){
    $tm: 1.5vw;
    @include topo($tm);
    @include principal($tm);
    @include base($tm);
}
@media screen and (min-width: 768px){
    $tm: 1.2vw;
    @include topo($tm);
    @include principal($tm);
    @include base($tm);
}